{% extends "base_template.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                <p class="control has-icons-left has-icons-right">
                    {{ form.email(class="input", placeholder="Email")}}<br>
                    <span class="icon is-small is-left">
                        <ion-icon name="mail-outline"></ion-icon>
                    </span>
                    <span class="icon is-small is-right">
                        <ion-icon name="checkbox-outline"></ion-icon>                    </span>   
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
            </div> <br>
            <div>
                <p class="control has-icons-left has-icons-right">
                    {{ form.password(class="input", placeholder="Password")}}<br>
                    <span class="icon is-small is-left">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-lock"></i>
                    </span>
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
            </div>
            <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>

            <div>
                {{ form.submit(class="button is-primary") }}



            </div>
        </form>
    </div>
    <div>You don't have an account?<a href="{{ url_for('auth.go_signup') }}">Signup!</a></div>
{% endblock %}