<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- import bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link  href="https://www.jsdelivr.com/package/npm/@creativebulma/bulma-divider">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 

    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">

    <a class="navbar-burger" role="botton" id="burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden=true></span>
        <span aria-hidden=true></span>
        <span aria-hidden=true></span>
        
    </div>
    </a>

    <div id= "navbarBasic" class=navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('auth.go_index') }}">
                Home
            </a>
            {% if current_user.is_anonymous %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{ url_for('auth.go_login') }}">
                            Login
                        </a>
                        <a class="button is-light"href="{{ url_for('auth.go_signup') }}">
                            Registrar
                        </a>
                    </div>
                </div>
            </div>
                
            {% else %}
                <a class="navbar-item" >
                    {{ current_user.name }}
                </a>
                
    
                    <!--Investigar por que no me sale el botton de logout-->
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="bottons">
                            <a class="botton is-primary" href="{{ url_for('auth.go_logout') }}" >
                                Logout
                            </a>
                        </div>
                    </div>
                </div>

                
            {% endif %}

        </div>
    </div>
</nav>


<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="">
            {% block content %} 
            {% endblock %}
        </div>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>






